altair==5.5.0
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==6.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
colorclass==2.2.2
compressed-rtf==1.0.7
cryptography==45.0.4
easygui==0.98.3
ebcdic==1.1.1
extract-msg==0.54.1
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lark==1.1.9
MarkupSafe==3.0.2
msoffcrypto-tool==5.4.2
narwhals==1.44.0
numpy==2.3.1
olefile==0.47
oletools==0.60.2
packaging==25.0
pandas==2.3.0
pcodedmp==1.2.6
pdf2image==1.17.0
pillow==11.2.1
protobuf==6.31.1
pyarrow==20.0.0
pycparser==2.22
pydeck==0.9.1
pyparsing==3.2.3
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2025.2
red-black-tree-mod==1.22
referencing==0.36.2
requests==2.32.4
rpds-py==0.25.1
RTFDE==0.1.2.1
six==1.17.0
smmap==5.0.2
soupsieve==2.7
streamlit==1.46.0
tenacity==9.1.2
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
watchdog==6.0.0
win_unicode_console==0.5
